@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.h1-games {
 font-size: 45px; 
 text-align: center;  
 font-family: Spartan;
}
.h1-title {
height: 855px;
font-family: 'Spartan', sans-serif;
margin: 0px;
}
.poweredby-a {
  color: red;
}
body {
  margin: 0;
  font-family: 'Roboto Condensed',
  sans-serif;
}
.item img {
    border-radius: 3%;
   }
.title {
background-size: cover;
margin: 0px;
font-size: 45px;
color: white;
height: 855px;
background-image: url(../img/h1background.webp);
}

.title h1 {
transform: translateZ(.25px) scale(.75);
transform-origin: 50% 100%;
}
.item {
  display: grid;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 188px;
    margin-bottom: 30px;
    margin-left: 10px;
    flex: 1 1 auto;
    margin-right: 5px;
    margin-left: 5px;

}
.item img {
    width: 188px;
    height: 188px;
}
.caption {
    display: block;
} 
.dark-mode {
       background-color: #000000;
        color: white;
      }
a {
  color: #008037;
      }  
.dmbutton button{
height: 50px;
width: 300px;
background-image: linear-gradient(to bottom right, #0fcf62, #163fd4);
font-family: 'Spartan',
sans-serif;
margin-top: 15px;
color: black;
}
.contact {
  font-family: spartan;
  font-size: 60px;
}