  @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Spartan:wght@700&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  margin: 0;
  font-family: Roboto Condensed;
}

html {
     scroll-behavior: smooth;
   }
.item img {
    border-radius: 3%;
   }
#title {
background-image: url("img/h1background.webp");
background-size: cover;
margin: 0px;
font-size: 45px;
color: white;
}

#title h1 {
transform: translateZ(.25px) scale(.75);
transform-origin: 50% 100%;
}
.item {
  display: grid;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 188px;
    margin-bottom: 30px;
    margin-left: 10px;
}
.item img {
    width: 188px;
    height: 188px;
}
.caption {
    display: block;
} 
.dark-mode {
        background-color: black;
        color: white;
      }

a {
  color: #008037;
      }
      #pb-1 {
border-radius: 3%;
width: 250;
height: 65;
margin-top: 0px;
      }
     
.dmbutton button{
height: 50px;
width: 100px;
background-color: #008037;
font-family: Spartan;
margin-top: 15px;
}